[gcode_macro NOZZLE_CLEAN]
variable_position_wiper_x:              268	         
variable_position_wiper_y:              357
variable_position_wiper_z:              4
gcode:
   SAVE_GCODE_STATE NAME=nozzle_clean_state
   M118 Start Wiping macro
   {% if printer.toolhead.position.z|int < 10 %}  
         G90           
         G0 Z10 F6000     
   {% endif %}
   G90
   G1 X{position_wiper_x} F10000
   G1 Y{position_wiper_y} F10000
   G1 Z{position_wiper_z} F10000
   M118 Start Wiping
   G1 X{position_wiper_x + 5} F25000
   G1 X{position_wiper_x - 15} F25000
   G1 X{position_wiper_x + 15} F25000
   G1 X{position_wiper_x - 15} F25000
   G1 X{position_wiper_x + 15} F25000
   G1 X{position_wiper_x - 15} F25000
   G1 X{position_wiper_x + 15} F25000
   G1 X{position_wiper_x - 15} F25000
   G1 X{position_wiper_x + 15} F25000
   G1 X{position_wiper_x - 15} F25000
   G1 X{position_wiper_x + 15} F25000
   G1 X{position_wiper_x - 15} F25000
   G1 X{position_wiper_x + 15} F25000
   M118 Wiping finished
   G92 E0
   RESTORE_GCODE_STATE NAME=nozzle_clean_state


[gcode_macro CLEAN_NOZZLE]
# Name of the macro is clean_nozzle.

# These parameters define your filament purging. The retract variable is used to retract right after purging to prevent unnecessary
# oozing. Some filament are particularly oozy and may continue to ooze out of the nozzle for a second or two after retracting. The
# ooze dwell variable makes allowance for this. Update as necessary. If you decided to not enable purge, you can ignore this section.
variable_purge_len:            0 ;5          ; Amount of filament, in mm, to purge.
variable_purge_spd:           400          ; Speed, in mm/min, of the purge.
variable_purge_temp_min:      150          ; Minimum nozzle temperature to permit a purge. Otherwise, purge will not occur.
variable_purge_ret:             0 ;18         ; Retract length, in mm, after purging to prevent slight oozing. Adjust as necessary.
variable_ooze_offset_z:        0 ;25          ; After purging, how far up to move Z, in mm.
variable_ooze_spd_z:          120          ; After purging, how fast to move up Z, in mm/min.

# Adjust this so that your nozzle hits the tube. The nozzle should hit the upper 1/4th to 1/2nd part of the tube.
variable_tube_top:              4.5       ; Z position in mm

# These parameters define your cleaning, travel speeds, safe z clearance and how many times you want to wipe. Update as necessary. Wipe 
# direction is randomized based off whether the left or right bucket is randomly selected in the purge & scrubbing routine.
variable_clearance_z:           5          ; When traveling, but not cleaning, the clearance along the z-axis between nozzle and tube.
variable_wipe_qty:              6          ; Number of complete (A complete wipe: left, right, left OR right, left, right) wipes.
variable_prep_spd_xy:        6000          ; Travel (not cleaning) speed along x and y-axis in mm/min.
variable_prep_spd_z:         1500          ; Travel (not cleaning) speed along z axis in mm/min.
variable_wipe_spd_xy:        5000          ; Nozzle wipe speed in mm/min.

# Tube position
variable_tube_x:              268 # X position of tube, Y is assumed to be 0

# This value is defaulted from tube location in CAD (rear left).
variable_wipe_travel:          15 # distance to travel when claening in mm      
## For V2.4 350mm build, uncomment below
variable_bucket_left_width:    40   

# These values are defaulted from bucket geometry in CAD (rear left location). Change only if you're using a custom bucket.
variable_bucket_right_width:   40            
variable_bucket_gap:           22

# For V1.8, you may need to measure where your bucket start is and input into bucket_start. Otherwise, a value of 0 is for a default
# installation of purge bucket at rear left.
variable_bucket_start: 0

###############################################################################################################################################
###############################################################################################################################################

### From here on, unless you know what you're doing, it's recommended not to change anything

###############################################################################################################################################
###############################################################################################################################################

# Placeholder. The variable will later be set to contain, at random, a number representing the left or right bucket.
variable_bucket_pos:            1

gcode:
  
  # Temperature in °C at which the filament is extruded/purged. Should be the print temperature. If no temperature or below 150 °C is
  # specified, no purging will happen.
 
  #{% set purge_temp = params.EXTRUDER|default("240")|int %}
  # Temperature in °C below which the nozzle is whiped over the tube. If not termperature is defined, the cleaning will happen without
  # waiting to reach any particular temperature.
 
  #{% set clean_temp = 150 %}
 
  #{% set target_extruder = 240 %}
  


    # Save the gcode state in this macro instance.
    SAVE_GCODE_STATE NAME=CLEAN_NOZZLE
    M104 S150
    #TEMPERATURE_WAIT SENSOR=extruder MINIMUM=149
    G28 
    # Set to absolute positioning.
    G90
  
    SET_DISPLAY_TEXT MSG="Düsenreinigung"          ; Displays info
  
    # Grab max position of Y-axis from config to use in setting a fixed y position.
    {% set Ry = printer.configfile.config["stepper_y"]["position_max"]|float %}
      
    # Raise Z for travel.
    G1 Z{tube_top + clearance_z} F{prep_spd_z}
    # Position for purge.
    
    G1 X310 F10000
    G1 Y{Ry} F10000 ;{prep_spd_xy}
    
    # Lower as far as we can go
    G1 Z{tube_top} F{prep_spd_z}
      # Heats up the nozzle up to target via data from slicer
    SET_DISPLAY_TEXT MSG="Hotend: 220°C"  ; Displays info
    #STATUS_HEATING                                ; Sets SB-leds to heating-mode
    M107                                          ; Turns off partcooling fan
    #M109 S{purge_temp}                            ; Heats the nozzle to printing temp
    M104 S220 
    TEMPERATURE_WAIT SENSOR=extruder MINIMUM=220  


      ### Small retract after purging to minimize any persistent oozing at 5x purge_spd. G4 dwell is in milliseconds,
      ### hence * 1000 in formula.
    M83        ; relative mode
    G1 E{purge_len} F{purge_spd}
    G1 E-{purge_ret} F{purge_spd * 5}
    M106 S255  ; use part cooling to harden the material
    G92 E0     ; reset extruder
    M400
    SET_DISPLAY_TEXT MSG="Hotend: 150°C"  ; Displays info
    M106 S255
    M104 S150
    #M104 S{purge_temp - 90}                          ; Heats the nozzle to 150c without waiting
    #TEMPERATURE_WAIT SENSOR=extruder MINIMUM=150                        
    G1 Z{tube_top + ooze_offset_z} F{ooze_spd_z}  ; Slowly moving up to ensure ooze is straight and can be broken off
    
    # Move nozzle down to hit the tube.
    G1 Z{tube_top} F{prep_spd_z}
    # Position for wipe. Either left or right of tube based off bucket_pos to avoid unnecessary travel.
    G1 X{tube_x + (wipe_travel / 2 * (bucket_pos * 2 - 1))} F{prep_spd_xy}
    G1 Y{Ry}
  
    # Perform wipe. Wipe direction based off bucket_pos for cool random scrubby routine.
    {% for wipes in range(1, (wipe_qty + 1)) %}
       G1 X{tube_x - (wipe_travel / 2 * (bucket_pos * 2 - 1))} F{wipe_spd_xy}
       G1 X{tube_x + (wipe_travel / 2 * (bucket_pos * 2 - 1))} F{wipe_spd_xy}
    {% endfor %}
    {% for wipes in range(1, (wipe_qty + 1)) %}
       G1 X{tube_x - (wipe_travel / 2 * (bucket_pos * 2 - 1))} F{wipe_spd_xy / 2}
       G1 X{tube_x + (wipe_travel / 2 * (bucket_pos * 2 - 1))} F{wipe_spd_xy / 2}
    {% endfor %}
    {% for wipes in range(1, (wipe_qty * 3)) %}
       G1 X{tube_x - (wipe_travel / 2 * (bucket_pos * 2 - 1))} F{wipe_spd_xy / 4}
       G1 X{tube_x + (wipe_travel / 2 * (bucket_pos * 2 - 1))} F{wipe_spd_xy / 4}
    {% endfor %}
    # Clear from area.
    SET_DISPLAY_TEXT MSG="Düse gereinigt"
    G1 Z{tube_top + clearance_z} F{prep_spd_z}
    #M106 S255
    #M104 S150
    M107
    #TEMPERATURE_WAIT SENSOR=extruder MINIMUM={S}
    # Restore the gcode state to how it was before the macro.
    RESTORE_GCODE_STATE NAME=CLEAN_NOZZLE
       
